<title>welcome to headpatter's shenanigans</title>
{% extends "layouts.html" %}
    {% block content %}
    <text>
        <h3><strong>{{ post.title }}</strong></h3>
        <aside>
            <section id="recent_posts">
                <h4>recent posts:</h4>
                <ul>
                    {% for title, url, _ in recent_posts %}
                    <li><a href="{{url}}">{{title}}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </aside>

        {{ post.html|safe }}
    </text>
    {% endblock %} 
